<% if local_assigns[:paramPost] %>
  
  <p class="h4"> <%= link_to paramPost.title, post_path(paramPost) %> </p>
  <p> <%= paramPost.summary %> <p>

  <div id="<%= dom_id paramPost %>">
    <p>
      <strong>Title:</strong>
      <%= paramPost.title %>
    </p>

    <p>
      <strong>Summary:</strong>
      <%= paramPost.summary %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= paramPost.body %>
    </p>

    <p>
      <strong>Active:</strong>
      <%= paramPost.active %>
    </p>

  </div>


<% end %>